@import '../../sass/main.scss';

.panel__description {
  width: 100%;
  overflow: hidden;
  margin-top: 2rem;

  &-header {
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secondary;
    border-radius: 1rem;
    color: $color-primary;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    z-index: 2;
    position: relative;
    cursor: pointer;

    .chevron {
      font-size: 2rem;
      transition: transform 0.5s ease-in-out;
    }

    &.animating .chevron {
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
      opacity: 0;
    }
  }

  &-content {
    color: $color-secondary;
    font-size: 1.8rem;
    background-color: $color-tertiary;
    border-radius: 1rem;
    padding-top: 2rem;
    margin-top: -2rem;
    z-index: 1;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: height 0.5s ease-in-out, visibility 0.5s ease-in-out,
      opacity 0.5s ease-in-out;

    &.open {
      height: auto;
      visibility: visible;
      opacity: 1;
    }

    &.close {
      height: 0;
      visibility: hidden;
      opacity: 0;
    }

    ul {
      list-style: none;
    }
  }

  &-text {
    padding: 3rem;
  }
}
