@import '../../sass/main.scss';

.apartmentSheet {
  &__information {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

    @media screen and (min-width: $breakpoint-desktop) {
      flex-direction: row;
      column-gap: 7.5rem;
      row-gap: 0;
    }
  }
}