@import '../../sass/main.scss';

.apartmentGrid {
    width: 90%;
    background-color: $color-tertiary;
    margin: 40px auto;
    border-radius: 25px;
    padding: 50px;

    .apartmentGrid-block {
        width: 100%;
        max-width: 1440px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 30px;
        row-gap: 30px;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: $breakpoint-desktop) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}