@import '../../sass/main.scss';

.about__container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  @media screen and (min-width: $breakpoint-desktop) {
    width: 85%;
  }
}