@import '../../sass/main.scss';

header {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 250px 1fr;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

    img {
        width: 100%;
        max-width: 145px;
        height: 100%;

        @media screen and (min-width: $breakpoint-desktop) {
            max-width: 210px;
        }
    }

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 55px;

        .linkNavbar {
            text-decoration: none;
            color: $color-secondary;
            font-size: 16px;
            font-weight: 400;
            cursor: pointer;

            @media screen and (min-width: $breakpoint-desktop) {
                font-size: 24px;
            }

            &:hover {
                text-decoration: underline;
            }

            &:active {
                text-decoration: underline;
            }
        }
    }
}
