@import '../../sass/main.scss';

.panel__description {
    width: 100%;
    padding-top: 2.5rem;

    &-header {
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-secondary;
        border-radius: 1rem;
        color: $color-primary;
        font-size: 1.8rem;
        padding: 1rem 2rem;
        z-index: 2000;
        position: relative;
    }

    &-content {
        color: $color-secondary;
        font-size: 1.8rem;
        background-color: $color-tertiary;
        border-radius: 1rem;
        padding: 5rem 2rem 4rem 2rem;
        margin-top: -1rem;
        z-index: 1;
    }
}